&uart0 {
	current-speed = <115200>;
	status = "okay";
	tx-pin = <7>;
	rx-pin = <28>;
};

&uart2 {
	current-speed = <115200>;
	status = "okay";
	tx-pin = <20>;
	rx-pin = <21>;
};

&uart3 {
	current-speed = <115200>;
	status = "okay";
	tx-pin = <12>;
	rx-pin = <13>;
};
