PM_MCUBOOT_ADDRESS=0x0
PM_MCUBOOT_SIZE=0xc000
PM_MCUBOOT_NAME=mcuboot
PM_MCUBOOT_ID=0
PM_0_LABEL=MCUBOOT
PM_EMPTY_0_ADDRESS=0xc000
PM_EMPTY_0_SIZE=0x4000
PM_EMPTY_0_NAME=EMPTY_0
PM_MCUBOOT_PAD_ADDRESS=0x10000
PM_MCUBOOT_PAD_SIZE=0x200
PM_MCUBOOT_PAD_NAME=mcuboot_pad
PM_MCUBOOT_PAD_ID=1
PM_1_LABEL=MCUBOOT_PAD
PM_MCUBOOT_PRIMARY_ADDRESS=0x10000
PM_MCUBOOT_PRIMARY_SIZE=0x78000
PM_MCUBOOT_PRIMARY_NAME=mcuboot_primary
PM_MCUBOOT_PRIMARY_ID=2
PM_2_LABEL=MCUBOOT_PRIMARY
PM_MCUBOOT_PRIMARY_SPAN="mcuboot_pad spm app"
PM_MCUBOOT_PRIMARY_APP_ADDRESS=0x10200
PM_MCUBOOT_PRIMARY_APP_SIZE=0x77e00
PM_MCUBOOT_PRIMARY_APP_NAME=mcuboot_primary_app
PM_MCUBOOT_PRIMARY_APP_ID=3
PM_3_LABEL=MCUBOOT_PRIMARY_APP
PM_MCUBOOT_PRIMARY_APP_SPAN="app spm"
PM_SPM_ADDRESS=0x10200
PM_SPM_SIZE=0xc000
PM_SPM_NAME=spm
PM_SPM_ID=4
PM_4_LABEL=SPM
PM_APP_ADDRESS=0x1c200
PM_APP_SIZE=0x6be00
PM_APP_NAME=app
PM_APP_ID=5
PM_5_LABEL=APP
PM_MCUBOOT_SECONDARY_ADDRESS=0x88000
PM_MCUBOOT_SECONDARY_SIZE=0x78000
PM_MCUBOOT_SECONDARY_NAME=mcuboot_secondary
PM_MCUBOOT_SECONDARY_ID=6
PM_6_LABEL=MCUBOOT_SECONDARY
PM_OTP_ADDRESS=0xff8108
PM_OTP_SIZE=0x2f4
PM_OTP_NAME=otp
PM_NUM=7
PM_ALL_BY_SIZE="mcuboot_pad otp EMPTY_0 mcuboot spm app mcuboot_primary_app mcuboot_secondary mcuboot_primary"